<nav class="nav">
  <div class="nav--header">
	  <div class="nav--brand"> <%= dealers.length %> Dealers in <%= zipcode %> </div>
    <div id="nav-btn--link">    
        <div class="nav-menu--title">
          <p>Filter Results</p>
        </div>       
        <div class="carat--border is-hidden--desktop">
          <span class="carat up"></span>  
        </div>
      </div>                
  </div>    
  <ul id="nav--menu" class="is--hidden">
    <li class="nav--item font--is-medium align-icons">
      <svg xmlns="http://www.w3.org/2000/svg" width="23.969" height="23.969" viewBox="0 0 23.969 23.969" class="add-margin">
        <rect class="radio-btn-unchecked cls-btn" x="0.5" y="0.5" width="22.969" height="22.969" rx="5" ry="5"/>
        <rect class="radio-btn-checked cls-checked" x="3.4" y="3.4" width="17" height="17" rx="5" ry="5"/>
      </svg>        
    Service </li>
    <li class="nav--item font--is-medium align-icons">
      <svg xmlns="http://www.w3.org/2000/svg" width="23.969" height="23.969" viewBox="0 0 23.969 23.969" class="add-margin">
        <rect class="radio-btn-unchecked cls-btn" x="0.5" y="0.5" width="22.969" height="22.969" rx="5" ry="5"/>
        <rect class="radio-btn-checked cls-checked" x="3.4" y="3.4" width="17" height="17" rx="5" ry="5"/>
      </svg>
    Installation </li>
    <li class="nav--item font--is-medium align-icons">
      <svg xmlns="http://www.w3.org/2000/svg" width="23.969" height="23.969" viewBox="0 0 23.969 23.969" class="add-margin">
        <rect class="radio-btn-unchecked cls-btn" x="0.5" y="0.5" width="22.969" height="22.969" rx="5" ry="5"/>
        <rect class="radio-btn-checked cls-checked" x="3.4" y="3.4" width="17" height="17" rx="5" ry="5"/>
      </svg>                 
    Residential </li>
    <li class="nav--item font--is-medium align-icons">
      <svg xmlns="http://www.w3.org/2000/svg" width="23.969" height="23.969" viewBox="0 0 23.969 23.969" class="add-margin">
        <rect class="radio-btn-unchecked cls-btn" x="0.5" y="0.5" width="22.969" height="22.969" rx="5" ry="5"/>
        <rect class="radio-btn-checked cls-checked" x="3.4" y="3.4" width="17" height="17" rx="5" ry="5"/>
      </svg>                  
    Commercial </li>                    
  </ul>  
</nav>