@media screen and (max-width: 750px) {

  .wrapper {
    position: relative;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr; 
  }

/*=======*/
/* Icons */
/*=======*/

  .align-icon--phone { 
      background-color: #0074d9;
      border-radius: 0;
      padding: 0;
  }

  .icon--phone {
    background-color: #0056a0;
    padding: 1.15em;
    align-self: center;
    margin: .3em;      
  }

  .icon--circular {
    border-radius: 0;
    background-color: transparent;
    margin-right: 0;
  }

  .is-hidden--mobile {
    display: none;
  }

  .is-hidden--desktop {
    display:block;
  }

/*======*/
/* Nav */
/*======*/

  .nav, 
  .nav--header {
    display: flex;
  }
  
  .nav {
    margin: 1em 0;
    padding: 1em 0;
    flex-direction: column;
    background: #fff;
    border-radius: 0;
  }

  .nav--header {
    flex-direction: row;
    align-items: center;
  }
  
  nav.is--padding-bottomless {
    padding-bottom: 0;
  }

  .nav--brand {
    border-right: none;
    padding-right: 1em;
    color: #00abff;
    font-weight: 700;
  }

  .nav-menu--title {
    padding: .5em;
    border: 1px solid #e3e3e3;
  }

  #nav-btn--link {
    display: flex;
    cursor: pointer;
  }

  #nav--menu.is--hidden{
    display: none;
    visibility: hidden;
    opacity: 0;
    max-height: 0;
  }

  #nav--menu {
    display: flex;
    visibility: visible;
    flex-flow: column;
    width: 100%;
    align-items: flex-start;
    background-color: #fafafa;
    padding: 1.5em;
  }

  .nav--item {
    position: relative;
    align-self: stretch;
    padding: 1em;
  }

/*======*/
/* Card */
/*======*/

  .card--grid > #card--group {
    grid-template-columns: 1fr;
    grid-gap: 1em;
    margin: auto;
  }

  .card {
    border-radius: 0;
  }

  .card--title {
    border: none;
  }

  .mobile--cta {
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    color: white;
    background-color: #0074d9;
    padding: .25em;
  }
  
  .mobile--cta::before {
    content: 'Tap to call :';
    color: white;
    font-size: .8rem; 
    padding-right: .5em;
    vertical-align: middle;
  }

/*======*/
/* Modal */
/*======*/

  input.input--small {
    width: 75%;
  }

  .validation--small {
    right: 25%;
  }
  .is-text--align {
    text-align: right;
  }

  .md-head {
    padding: .5em .75em;
  }
  .md-body {
    padding: .25em;
  }
  .md-desc {
    padding: .5em;
  }

  .md-contact {
    background-color: transparent;
    padding: .5em;
  }
  
}